$primary_color: #278d9f;
$secondary_color: rgba(31, 112, 127, 0.3);
$darkgreen: rgb(0, 100, 0);
$green: rgb(0, 128, 0);
$white: rgb(255, 255, 255);
$purple: rgb(128, 0, 128);
$blue: rgb(0, 0, 255);
$orange: rgb(256, 165, 0);
$red: rgb(255, 0, 0);
$yellow: rgb(255, 255, 0);
$gold: #c5b358;
$gray: rgb(128, 128, 128);
